html main{
    font-size:16px;
}
ul{
    color: #021E5A;

}
ul>li{
    list-style: armenian;

}
.undlnd{
    text-decoration: underline;
}
.ybgrd{
    background-color:  yellow;
}
.card-menu{
    display:flex;
    padding: 0 2rem;  
}

.card-menu>div{
    min-width: 14rem;
    max-width: 16rem;
    display:flex;
    padding: 0 2rem; 
    margin-right: 0.5rem; 
    border-radius:2rem;
    border: solid 6px chocolate;
}
.card-menu>div:hover{
    -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 6px rgba(0,0,0,0); 
box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 6px rgba(0,0,0,0);

}